body
	margin: 0px
	font-family: 'Lato', sans-serif	
	background-color: lightgray
nav 
	background-color: #233040
	
	padding-left: 20px
	padding-top: 10px
		

#navtop 
	display: flex
	flex-direction: row
	justify-content: space-between
		

#navbottom 
	display: flex
	flex-direction: row
	justify-content: space-between
	
		
#navbottom 
	div 
		margin-top: 20px
		padding-top: 20px
		margin-bottom: -20px
		

a 
	text-decoration: none
	color: #C2C3C4
	font-size: 13px
	padding: 5px
		

a:hover
	border: solid 1px #C2C3C4
		
.dropbtn 
	font-size: 16px
	border: none
	background-color: #233040
	color: white
	font-weight: bold
		
.dropdown 
	position: relative
	margin-right: 80px
	display: inline-block
		

.dropdown-content 
	display: none
	position: absolute 
	right: 10px
	background-color: white
	width: 300px
	z-index: 1


		

.dropdown-content
	a 
		color: #233040
		padding: 12px 16px
		text-decoration: none
		display: block
		

.dropdown-content 
	a:hover 
		color: #F08804
		text-decoration: underline
		

.dropdown:hover .dropdown-content 
	display: block

#price
	float: right
	width: 50%

#one1
	float: left
	width: 50%



		

.dropdown:hover .dropbtn 
	background-color: #233040
		
.bold 
	a 
		color: white
		font-weight: bold
		

select
	background-color: #F3F3F3
	width: 40px
	height: 30px
		

option
	background-color: white
		

textarea
	height: 30px
	min-width: 300px
	width: 65%
	margin: 0 auto
		

button
	background-color: #FEBD69
	border: none

#container
	width: 95%
	margin: 0 auto
#top_img
	width: 100%

#visual
	display: flex
	flex-flow: row
	justify-content: space-between
	align-items: center

table
	width: 100%

table td img
	width: 100%
